*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-family: Roboto;
    background-color:#000012;
    margin: -2rem 4rem 0 4rem;
    
}
.padding-side{
    padding-left:9rem ;
    padding-right: 9rem;
   }
.padding-up{
    padding-top:2rem;
    padding-bottom:6rem;
}
.header{
    background-color: #1F2937;
    
    
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.nav h2{
    font-size:24px;
    color: #f9faf8;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
}
.nav ul li{
    font-size: 16px;
    
}
.nav ul li a{
    text-decoration:none;
    color: #f9faf8;
}
.nav ul li a:hover{
    color:#e5e7eb;
}
.hero{
    display: flex;
    justify-content: space-around; 
    gap: 2rem;
    padding-top: 3rem;
}
.hero h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.hero p{
    color: #e5e7eb;
    font-size:18px;
}
.hero-top{
    padding-right:3rem;
}
.button{
    border: 1px solid transparent;
    background-color: #3882f6;
    color:#f9faf8;
    padding:0.5rem 2rem;
    font-size:18px;
    font-weight: 500;
    border-radius:10px;
    cursor:pointer;
    margin-top:0.5rem;
}
.button:hover{
    color:#3882f6;
    background-color:#f9faf8;
}

.card-section{
    background-color: #f9faf8;
    margin-top:-2rem;
}
.card-section h1{
    text-align:center;
    font-size:36px;
    font-weight:900;
    color:#1f2937;
}
.card{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    padding-top:2rem;
}
.card img{
    border-radius:10px;
}
.card p{
    text-align:center;
    color:#1f2937
}
.quote{
    background-color:#E5E7EB;

}
.quote p{
    color:#1f2937;
    font-size:36px;
    font-style:light-italic;
}
.end{
    text-align:right;
}
.action-section{
    background-color:#fffffe;
}
.action{
    background-color:#3882f6;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:3rem;
    margin-top:3rem;
    border-radius:10px;
    line-height:2px;
}
.action h2{
    color:#f9faf8;
    font-weight: 800;
    font-size: 24px;
}
.action p{
    color: #E5E7EB;
    font-size:18px;
}
#border{
    border:2px solid #f9faf8
}
.footer{
    background-color: #1F2937;
    margin-bottom:-2rem;
}
.footer p{
    text-align:center;
    color:#f9faf8;
    font-size:18px;
}
